<article>
  <h2>Studying in Malaysia</h2>
  <p>Information is about studying in the 2016 summer program at the International Islamic University of Malaysia (IIUM).
</article>
<aside role="complementary">
  <h2>Related Links</h2>
  <ul>
    <li><a href="http://www.facebook.com/muslimstudyabroad/">MSA - Facebook</a></li>
  </ul>
</aside>
<footer role="contentinfo">
  <p>&copy; 2015 Muslim Study Abroad</p>
</footer>
