<header role="banner">
  <nav role="navigation">
    <span class="nav-btn"></span>
    <ul class="navi">
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Programs</a></li>
      <li><a href="#">Scholarships</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

